h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.button {
    background-color: black;
    color: white;
    border: 5px solid black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

.button:hover {
    background-color: white;
    color: black;
}

#message {
    padding-top: 20px;
}